h1{
    color: darkblue;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: blueviolet;

}
#spanId{
    font-size: 18px;
    margin: 50px;
}
.divclass{
    padding: 50px;
    border: 2px solid orange;
}